
// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  background: url(/img/bg.jpeg) no-repeat center center fixed;
  background-size: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #92d242;
  color: white;
  text-align: center;
}

.btn-primary{
  color:white; 
}

.btn-primary:hover{
  color:white;
}

.card {

  border-top-color: $green;
}

.card-header {
  background-color: $green;
  color:white;
}
